<h3>Please enter the needed information to create your profile</h3>
<%= simple_form_for [@profile] do |f| %>
 <%= f.input :first_name, placeholder: 'First name', label: false %>
<%= f.input :last_name, placeholder: 'Last name ', label: false%>
<%= f.input :street, placeholder: 'Street name', label: false %>
<%= f.input :street_number, placeholder: 'Street Number', label: false %>
<%= f.input :country, placeholder: 'Country', label: false %>
<%= f.input :zip_code, placeholder: 'Zip Code', label: false %>
<%= f.input :city, placeholder: 'City', label: false %>
  <%= f.submit profile_message, class: "btn btn-primary" %>
<% end %>
