<div class="bg-profile">
<div class="container">
  <div class="row">

    <div class="col-md-6 text-center"><% if @profile.avatar? %>
      <%= cl_image_tag @profile.avatar.path, class: "img-profile-page" %>
      <% end %></div>

      <div class="col-md-6 bg-profile-description">
        <div class="header-profile"><h2><%= @profile.first_name.capitalize %>: Profile </h2></div>

        <ul>
          <li><strong>Last Name:</strong> <%= @profile.last_name %></li>
          <hr>
          <li><strong>Street Name:</strong> <%= @profile.street %></li>
          <hr>
          <li><strong>Street Number:</strong> <%= @profile.street_number %></li>
          <hr>
          <li><strong>Zip Code:</strong> <%= @profile.zip_code %></li>
          <hr>
          <li><strong>City:</strong> <%= @profile.city %></li>
          <hr>
          <li><strong>Country:</strong> <%= @profile.country %></li>
        </ul>
      </div>
         <%= link_to "Update Profile", edit_profile_path(current_user.profile), class: "btn rounded-profile" %>
          <% if current_user.companies.empty? %>
          <%= link_to "Add company", new_company_path, class: "btn rounded-profile" %>
          <% else %>
          <%= link_to "Company", '/companies', class: "btn rounded-profile" %>
          <% end %>
    </div>
  </div>
</div>
