<p>Hello <%= current_user.email %></p>
<%= simple_form_for [@company] do |f| %>
  <%= f.input :name %>
  <%= f.input :street %>
  <%= f.input :street_number %>
  <%= f.input :city %>
  <%= f.input :country %>
  <%= f.input :email %>
  <%= f.submit company_message, class: "btn btn-primary" %>
<% end %>
