<%#= render "form", company_message: "Adit this Company info" %>

<div class="bg-company">

<div class="container">
  <div class="row">
    <div class="col-md-12 padtopcamp">
      <ul class="list-inline product-controls">
    <li><%= link_to "Add company", new_company_path, class: "btn rounded-camp-head" %></li>
    </ul>
      <% @companies.each do |company| %>


      <div class="product padbottomcamp">
        <div class='product-upvote'>
          <div class="product-arrow"></div>
          <div class='product-count'><%= company.id %></div>
        </div>
        <% if company.photo.nil? %>
          <%= image_tag("netw.png", class: "product-image hidden-xs") %>

        <% else %>

          <%= cl_image_tag company.photo.path, class: "product-image hidden-xs" %>
        <% end %>
        <div class='product-body'>
         <h2><%= company.name %></h2>
         <p><%= company.street_number %> <%= company.street %></p>
       </div>
       <div class='product-body'>
        <p><%= company.city %></p>
        <p><%= company.country %></p>
        <p><%= company.email %></p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <ul class="list-inline product-controls">
    <% if current_user.companies.any? %>
       <li><%= link_to "Edit company", edit_company_path(company), class: "btn rounded-camp" %>
       <li><%= link_to "Delete the company", company_path(company) , class: "btn rounded-camp", method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %></li>
     </ul>
    </div>
  <div class="col-md-6">
    <ul class="list-inline product-controls">
       <% if company.campaigns.empty? %>
       <li><%= link_to 'Create campaigns', new_company_campaign_path(company), class: "btn rounded-camp"  %></li>
       <% else %>
       <li><%= link_to 'See all my campaigns', company_campaigns_path(company), class: "btn rounded-camp"%></li>
       <li><%= link_to 'Create a new local Ad!', new_company_campaign_path(company), class: "btn rounded-camp"%></li>
       <% end %>
    <% end %>
    </ul>
  </div>
  <% end %>

</div>
</div>
</div>
