<%#= render "form", company_message: "Adit this Company info" %>
<div class="row">
  <% @companies.each do |company| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h2><%= company.name %></h2>
        <p><%= company.street_number %> <%= company.street %></p>
        <p><%= company.city %></p>
        <p><%= company.country %></p>
        <p><%= company.email %></p>
      </div>
      <p><%= link_to "See all my campaigns",  company_campaigns_path(company) %></p>
      <p><%= link_to "Create a new local Ad!",  new_company_campaign_path(company) %></p>
    </div>
  </div>
  <% end %>


</div>


