<div class="wrapper"></div>
<div class="container">
  <div class="row" class="card">
<p>
<%= @company.name %>
</p>
<p>
<%= @company.street_number%>
</p>
<p>
<%= @company.street%>
</p>
<p>
<%= @company.city%>
</p>
<p>
<%= @company.email%>
</p>
<%= link_to "Create a new local Ad!",  new_company_campaign_path(company_id: @company.id) %>


  </div>
</div>

