<div class="bg-company">
  <div class="container">
    <div class="row">
      <div class="col-md-4 bg-profile-description">
        <div class="header-profile"></div>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,-29.7), rgba(0,0,0,9.2)), url('/assets/lokoshop-8.jpg');">
          <div class="card-category"> <h4><%= @company.name %></h4>
          </div>
          <div class="card-description">

            <p><%= @company.street_number%> -
            <%= @company.street%> -
            <%= @company.city%></p>
            <p><%= @company.email%></p>
          </div>

        </div>
        <br>
        <%= link_to "Create a new local Ad!",  new_company_campaign_path(company_id: @company.id), class: "btn rounded-camp" %>

      </div>

    </div>
  </div>
</div>




