  <div class="bg-company">
    <div class="container">
      <div class="row">

        <div class="message-status2" style="margin-top: 10px;">
          <%= link_to 'Create a new Campaign', new_company_campaign_path(@company), class: "btn rounded-camp-new-ad"%>

        </div>
        <% @campaigns.each do |campaign| %>
        <hr>

        <div class="col-sm-12 col-md-12">


          <div class="row">
            <div class="message">
              <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="message-status2">
                  <%= link_to 'Create a new Ad!', new_company_campaign_ad_path(campaign.company, campaign), class: "btn quad-camp-new-ad"%>
                </div>

              </div>
              <div class=" col-xs-6 col-sm-6 col-md-3">
                <div class="message-name">
                  <h3>Ad Campaign :: <%= campaign.campaign_name %></h3>
                  <p>objective: <%= campaign.campaign_objective %></p>
                  <p>start: <%= campaign.adset_start_date %></p>
                  <p>end:<%= campaign.adset_end_date %></p>


                </div>
              </div>
              <div class=" col-xs-6 col-sm-6 col-md-3 hidden-xs hidden-sm">
                <div class="message-body">
                  <p><%= campaign.adset_name%></p>
                  <p><%= campaign.fb_campaign_id %></p>
                  <p><%= campaign.adset_billing_event %></p>
                  <p><%= campaign.adset_daily_budget %></p>

                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-2">
                <div class="message-status">
                  <p class="status pending"><%= campaign.adset_bid_amount%> €</p>
                  <p class="price"><%= campaign.adset_billing_event%> €</p>
                </div>
              </div>
              <div class="col-md-2 hidden-xs hidden-sm">

                <img class="avatar-small" src="/assets/lokoshop-8.jpg">


              </div>
            </div>
          </div>

        </div>
        <% end %>
      </div>
    </div>
  </div>
