  <div class="bg-company">
    <div class="container">
      <div class="row">

        <div class="message-status2" style="margin-top: 20px;">
          <%= link_to 'Create a new Campaign (Audience and Budget)', new_company_campaign_path(@company), class: "btn rounded-camp-new-ad"%>

        </div>
        <% @campaigns.each do |campaign| %>
        <hr>

        <div class="col-sm-12 col-md-12">


          <div class="row">
            <div class="message">
              <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="message-status2">
                  <%= link_to 'Create a new Ad!', new_company_campaign_ad_path(campaign.company, campaign), class: "btn quad-camp-new-ad"%>
                </div>

              </div>
              <div class=" col-xs-6 col-sm-6 col-md-3">
                <div class="message-name">
                  <p>Campaign n° :: <%= campaign.id %></p>
                  <h2><%= campaign.campaign_name %></h2>
                  <h3>Audience :: <%= campaign.adset_name%></h3>

                </div>
              </div>
              <div class=" col-xs-6 col-sm-6 col-md-3 hidden-xs hidden-sm">
                <div class="message-body">
                  <p>Type of Campaign :: <%= campaign.campaign_objective %></p>
                  <p>Period :: Continuous </p>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-2">
                <div class="message-status">
                  <p class="status pending"><%= campaign.adset_bid_amount.to_i / 100 %> € / click </p>
                  <p class="price"><%= campaign.adset_daily_budget.to_i / 100 %> € / day</p>
                  <p></p>

                </div>
              </div>
              <div class="col-md-2 hidden-xs hidden-sm">

                <img class="avatar-small" src="/assets/lokoshop-8.jpg">


              </div>
            </div>
          </div>

        </div>
        <% end %>
      </div>
    </div>
  </div>
