<div class="bg-dashboard">
  <div class="container">
    <div class="row">
      <div class="col-md-12 dashboard-padding">
        <div class="row">
          <div  class="col-md-6">
            <div class="inside-dashboard-bg">
              <h3> <%= @campaign.company.name %> </h3>
              <hr>

              <p>Name: <%= @campaign.campaign_name %></p>
              <p><%= @campaign.adset_name %></p>
              <p><%= @campaign.company_id %></p>
              <p><%= @campaign.fb_campaign_id %></p>


              <!-- CSS Grid Layout browser support text -->
              <hr>
              <% if @fb_campaign != [] %>
              Status: PENDING
              <% else %>
              Status: LIVE
              <% end %>
              <p>
                Objective:
                <%= @campaign.campaign_objective %>

              </p>
              <hr>
              <h3>Audience</h3>
              <p>Ages:<%= @campaign.adset_age_min %> to <%= @campaign.adset_age_max %></p>
              <p><%= @campaign.adset_location %></p>
            </div>
            <% if @fb_campaign != [] %>
            <div class="card fb-blue white" style="padding: 5px;">
              <h3> Facebook Ad</h3>
              <ul>
                <li>ID:<%= @fb_campaign.first.id %></li>
                <li>Name:<%= @fb_campaign.first.name %></li>
              </ul>
            </div>

            <% else %>
            <%= button_to "Confirm creation of the campaign on Facebook", company_campaign_create_facebook_path(@company, @campaign), method: :post, class: 'btn-lightgrey' %>
            <% end %>
          </div>


          <div class="col-md-6">
            <div class="facebook-font">running facebook ads</div>
            <% @campaign.ads.each do |ad| %>
              <%= render 'ad-preview', ad: ad %>
            <% end %>
          </div>

          <div class="col-sm-6 col-sm-offset-3 col-xs-12">
            <%= link_to 'All my campaigns', company_campaign_path(@campaign.company, @campaign), class: 'btn-lightgrey' %>
            <br>
            <%= link_to "Update campaign infos",  edit_company_campaign_path(@company, @campaign), class: 'btn-lightgrey'  %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>






